<!-- 404 NOT FOUND -->
<body class="notfound">
    <main class="text-center sans-serif">
        <h1>
            :(
        </h1>
        <p>
            You must be lost. This page does not exist.
            <br>
            <a href="/">Go back home?</a>
        </p>
    </main>
</body>

