<!-- BLOG PAGE (Lists all posts) -->
<body class="page">
    <header>
        <h1>
            <%- page.title %>
        </h1>
    </header>

    <hr>

    <main>
        <%- page.content %>

        <%- site.posts
                // we dont show drafts/unlisted posts
                .filter(p => !p.draft && !p.unlisted)
                // get needed data (map also needed for sort)
                .map(p => ({path: p.path, title: p.title, date: p.date}))
                // sort by date
                .sort((a, b) => b.date - a.date)
                // map to HTML - each post is mapped to a date heading and it's title
                .map(p => [`<h2>${p.date.format("MMM YYYY").toString()}</h2>`, `<a href="${url_for(p.path)}">${p.title}</a><br>`])
                // remove extra headings for elements under the same date
                .map((c, i, arr) => {
                        if (i == 0) return c;
                        if (i == arr.length) return c;
                        // if the first el == previous one's first el, then remove the first el.
                        if (c[0] == arr[i-1][0]) return [c[1]];
                        else return c;
                })
                // flatten list
                .flat()
                .join('\n')
        %>
    </main>

    <hr>

    <footer>
        <%- partial('partials/site-footer') %>
    </footer>
</body>

