<!-- 404 NOT FOUND -->
<body class="notfound">

    <main>
        <h1 class="sans-serif text-center">
            :c
        </h1>
        <p class="text-center sans-serif">
            this page doesn't exist
        </p>
    </main>

</body>

