/* Code font - Source Code Pro Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/***** VARS *****/
/****************/
:root {
    --serif: Georgia, "Lucida Bright", Constantia, "Times New Roman", serif;
    --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --monospace: "Source Code Pro", Consolas, "Lucida Console", monospace;
    --color-green: #9dffbe;
    --color-red: #ff3f69;
    --color-blue: #9effff;
    --color-black: #303030;
    --color-white: #fff6e3;
    --color-grey: #aaaaaa;
    --color-lightgrey: #e8e8e8;
    --color-hyperlink-blue: #1c60ff;
    --color-warning-border: lightcoral;
    --color-warning-bg: #ffc2c7;
    --color-success-border: lightgreen;
    --color-success-bg: #c4ffe3;
}

/***** HOME *****/
/****************/
body.home {
    margin: 0 15%;
    color: var(--color-black);
    background: var(--color-white);
    line-height: 1.4;
}

body.home > header {
    margin-top: 5%;
    margin-bottom: 5vh;
}

body.home > main {
    margin-top: 30vh;
}

.home-nav {
    font-size: 1.3rem;
}

.home-nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-nav > ul > li {
    margin: 0 10px;
}

/***** PAGE *****/
/****************/

body.page {
    color: var(--color-black);
    margin: 0 30%;
    background: var(--color-white);
    line-height: 1.4;
}

body.page > header {
    font-family: var(--serif);
    font-weight: normal;
}

body.page > main {
    font-family: var(--serif);
}

body.page > main > h1,
body.page > main > h2,
body.page > main > h3,
body.page > main > h4,
body.page > main > h5,
body.page > main > h6 {
    font-family: var(--serif);
    font-weight: normal;
}

body.page > footer {
    margin-bottom: 5vh;
}

/***** POST *****/
/****************/

body.post {
    color: var(--color-black);
    margin: 0 30%;
    background: var(--color-white);
    line-height: 1.4;
}

body.post > header {
    font-family: var(--serif);
    font-weight: normal;
}

body.post > main {
    font-family: var(--serif);
}

body.post > main > h1,
body.post > main > h2,
body.post > main > h3,
body.post > main > h4,
body.post > main > h5,
body.post > main > h6 {
    font-family: var(--serif);
    font-weight: normal;
}

body.post > footer {
    margin-bottom: 5vh;
}

/***** GENERAL *****/
/*******************/

header {
    cursor: default;
}

header > h1 {
    font-weight: normal;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 5%;
}

ul > li > p {
    margin: 5px auto;
}

blockquote {
    margin: 10px 0;
    padding: 7px 7px 7px 10px;
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    border-color: var(--color-grey);
}

blockquote p {
    margin: 0;
    padding: 0;
}

blockquote.info {
    border-color: var(--color-grey);
    background-color: var(--color-lightgrey);
    border-radius: 0;
    border-width: 0 0 0 7px;
}

blockquote.warning {
    border-color: var(--color-warning-border);
    background-color: var(--color-warning-bg);
    border-radius: 0;
    border-width: 0 0 0 7px;
}

blockquote.success {
    border-color: var(--color-success-border);
    background-color: var(--color-success-bg);
    border-radius: 0;
    border-width: 0 0 0 7px;
}

a {
    color: var(--color-hyperlink-blue);
    text-decoration: none;
}

a:visited {
    color: var(--color-hyperlink-blue);
}

a:hover {
    text-decoration: underline;
}

a.colorless {
    color: inherit;
    font-weight: inherit;
}

a.colorless:visited {
    color: inherit;
}

.serif {
    font-family: var(--serif);
}

.sans-serif {
    font-family: var(--sans-serif);
}

.text-center {
    text-align: center;
}

.anchor > svg {
    height: 20px;
    width: 20px;
}

.anchor:hover {
    text-decoration: none;
}

/***** CODE *****/
/****************/

code {
    background-color: var(--color-lightgrey);
    color: indianred;
    font-size: 0.9em;
    font-family: var(--monospace);
    padding: 1px 3px;
    border-radius: 3px;
}

figure {
    width: 100%;
    overflow-x: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: auto;
    background-color: var(--color-black);
    color: white;
}

pre {
    padding: 0 0px;
    margin: 5px;
    font-family: var(--monospace);
    font-size: 0.9em;
}

/* line numbers */
td.gutter {
    color: gray;
}

/*** general ***/

span.title {
    color: lightcoral;
}

span.comment {
    color: gray;
}

span.string {
    color: lightgreen;
}

span.keyword {
    color: skyblue;
}

span.number {
    color: goldenrod;
}

span.built_in {
    color: indianred;
}

span.meta {
    color: thistle;
}

span.params {
    color: lemonchiffon;
}

/*** HTML ***/

span.name {
    color: skyblue;
}

span.attr {
    color: orange;
}

span.tag {
    color: indianred;
}

/*** CSS ***/

span.selector-id {
    color: goldenrod;
}

span.selector-tag {
    color: lightcoral;
}

span.selector-class {
    color: lightgreen;
}

span.selector-pseudo {
    color: yellow;
}

span.attribute {
    color: skyblue;
}

/***** NOT FOUND *****/
/*********************/
body.notfound {
    color: var(--color-black);
}

body.notfound > main {
    margin: 25vh 25%;
}

body.notfound > main > h1 {
    font-size: 5em;
}

/***** RESPONSIVE *****/
/**********************/
@media screen and (max-width: 768px) {
    body.home {
        margin: 5%;
    }

    body.page {
        margin: 5%;
    }

    body.post {
        margin: 5%;
    }
}

