<!-- footer under all site pages -->
<h3 style="font-weight:normal;" class="sans-serif">
    <!-- link back to homepage -->
    <a style="color:inherit;" href="/">
        <%- config.title %>
    </a>
    <!-- logo -->
    <span style="float:right;">
        <%- partial('partials/logo.ejs') %>
    </span>
</h3>



