/* Primary serif font */
@font-face {
    font-family: "NewComputerModern10";
    src: local("NewComputerModern10-Regular"),
         local("NewCM10-Regular"),
         url("/fonts/NewCM10-Regular.otf")
         format("opentype");
}

/***** VARS *****/
/****************/
:root {
    --serif: "NewComputerModern10", "Palatino", "Book Antiqua", Cambria, "Lucida Bright", serif;
    --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --monospace: "Cascadia Code", Consolas, Monaco, "Lucida Console", "Andale Mono", monospace;
    --color-green: #9dffbe;
    --color-red: #ff3f69;
    --color-blue: #9effff;
    --color-black: #303030;
    --color-white: #fff6e3;
    --color-grey: #aaaaaa;
    --color-lightgrey: #e8e8e8;
    --color-darkgrey: #525252;
    --color-hyperlink-blue: #1c60ff;
    --color-warning-border: lightcoral;
    --color-warning-bg: #ffc2c7;
    --color-success-border: lightgreen;
    --color-success-bg: #c4ffe3;
}


/***** HOME *****/
/****************/
body.home {
    margin: 0 15%;
    color: var(--color-black);
    background: var(--color-white);
    line-height: 1.4;
    font-family: var(--serif);
}

body.home > header {
    margin-top: 5%;
    margin-bottom: 5vh;
}

body.home > main {
    margin-top: 30vh;
}

body.home > main > nav {
    font-size: 1.3rem;
}

body.home > main > nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body.home > main > nav > ul > li {
    margin: 0 10px;
}


/***** PAGE *****/
/****************/
body.page {
    color: var(--color-black);
    margin: 0 30%;
    background: var(--color-white);
    line-height: 1.4;
    font-family: var(--serif);
}

body.page > footer {
    margin-bottom: 5vh;
}


/***** POST *****/
/****************/
body.post {
    color: var(--color-black);
    margin: 0 30%;
    background: var(--color-white);
    line-height: 1.4;
    font-family: var(--serif);
}

body.post > footer {
    margin-bottom: 5vh;
}


/***** GENERAL *****/
/*******************/
note {
    margin: 0 -30% 0 0;
    float: right;
    clear: right;
    width: 25%;
    color: var(--color-darkgrey);
    font-size: 0.9rem;
    border-left: 2px solid rosybrown;
    padding: 0 0 0 7px;
}

header {
    cursor: default;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 5%;
}

ul > li > p {
    margin: 5px auto;
}

blockquote {
    margin: 10px 0;
    padding: 7px 7px 7px 10px;
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    border-color: var(--color-grey);
}

blockquote p {
    margin: 0;
    padding: 0;
}

blockquote.warning {
    border-color: var(--color-warning-border);
    background-color: var(--color-warning-bg);
    border-radius: 0;
    border-width: 0 0 0 7px;
}

blockquote.success {
    border-color: var(--color-success-border);
    background-color: var(--color-success-bg);
    border-radius: 0;
    border-width: 0 0 0 7px;
}

a {
    color: var(--color-hyperlink-blue);
    text-decoration: none;
}

a:visited {
    color: var(--color-hyperlink-blue);
}

a:hover {
    text-decoration: underline;
}

a.colorless {
    color: inherit;
    font-weight: inherit;
}

a.colorless:visited {
    color: inherit;
}

.serif {
    font-family: var(--serif);
}

.sans-serif {
    font-family: var(--sans-serif);
}

.text-center {
    text-align: center;
}

/*** Inline code ***/
code {
    background-color: var(--color-lightgrey);
    color: var(--color-black);
    font-size: 0.9em;
    font-family: var(--monospace);
    padding: 1px 3px;
    border-radius: 2px;
}

/*** Codeblock ***/
figure {
    width: 100%;
    overflow-x: auto;
    border-style: solid;
    border-width: 0;
    border-radius: 3px;
    margin: auto;
    background-color: var(--color-lightgrey);
    color: var(--color-black);
}

/*** Line number column ***/
pre {
    padding: 0 0px;
    margin: 5px;
    font-family: var(--monospace);
    font-size: 0.8em;
}

/*** Line Numbers ***/
td.gutter {
    color: grey;
}

/*** General Syntax Highlighting ***/
span.title {
    color: lightseagreen;
}

span.comment {
    color: grey;
}

span.params {
    color: inherit;
}

span.string {
    color: limegreen;
}

span.keyword {
    color: royalblue;
}

span.number {
    color: indianred;
}

span.built_in {
    color: lightseagreen;
}

span.meta {
    color: teal;
}

/*** HTML Syntax Highlighting ***/

span.name {
    color: royalblue;
}

span.attr {
    color: lightseagreen;
}

span.tag {
    color: royalblue;
}

/*** CSS Syntax Highlighting ***/

span.selector-id {
    color: royalblue;
}

span.selector-tag {
    color: royalblue;
}

span.selector-class {
    color: royalblue;
}

span.selector-pseudo {
    color: teal;
}

span.attribute {
    color: lightseagreen;
}

/***** NOT FOUND *****/
/*********************/
body.notfound {
    color: var(--color-black);
}

body.notfound > main {
    margin: 25vh 25%;
}

body.notfound > main > h1 {
    font-size: 5em;
}

/***** RESPONSIVE *****/
/**********************/
@media screen and (min-width: 800px) and (max-width: 1000px) {
    body.home,
    body.page,
    body.post {
        margin: 0 15%;
    }

    note {
        margin: 0 0 2% 0;
        width: auto;
        color: var(--color-darkgrey);
        font-size: 0.9rem;
        border-top: 2px solid rosybrown;
        border-bottom: 2px solid rosybrown;
        border-left: 0 solid transparent;
    }
}

@media screen and (max-width: 800px) {
    body.home,
    body.page,
    body.post {
        margin: 0 5%;
    }

    note {
        margin: 0 0 2% 0;
        width: auto;
        color: var(--color-darkgrey);
        font-size: 0.9rem;
        border-top: 2px solid rosybrown;
        border-bottom: 2px solid rosybrown;
        border-left: 0 solid transparent;
    }
}

